<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center my-2">

        {% if page_obj.has_previous %}
            <li class="page-item">
                <a href="?page={{ page_obj.previous_page_number }}" class="page-link bg-success text-white border-success">Previous</a>
            </li>
        {% else %}
            <li class="page-item disabled">
                <span class="page-link bg-light text-muted border-success">Previous</span>
            </li>
        {% endif %}

        {% for i in page_obj.paginator.page_range %}
            {% if i >= page_obj.number|add:'-1' and i <= page_obj.number|add:'3' %}
                {% if i == page_obj.number %}
                    <li class="page-item active" aria-current="page">
                        <span class="page-link bg-success text-white border-success">{{ i }}</span>
                    </li>
                {% else %}
                    <li class="page-item">
                        <a href="?page={{ i }}" class="page-link bg-white text-success border-success">{{ i }}</a>
                    </li>
                {% endif %}
            {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
            <li class="page-item">
                <a href="?page={{ page_obj.next_page_number }}" class="page-link bg-success text-white border-success">Next</a>
            </li>
        {% else %}
            <li class="page-item disabled">
                <span class="page-link bg-light text-muted border-success">Next</span>
            </li>
        {% endif %}
    </ul>
</nav>