{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ask here</title>
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary ">
        <div class="container">
          
          <div>
            
            <a class="navbar-brand mx-auto" href="{% url "index" %}">Asker</a>
            <img src="{% static "/question.svg" %}" class="img-fluid mb-3" alt="Icon">
          </div>
          <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder=" &#128270 Ask Question" aria-label="Search">
            <button class="btn btn-outline-success" type="submit"><a href="{% url "ask" %}" class="text-light:hover link-offset-2 link-underline link-underline-opacity-0 link-success" >Ask!!!</a></button>
          </form>

          
          <div class="d-flex">
                <div style="max-height: 60; max-width: 60;" class="border w-100 mb-3">
                    <img src="{% static '/img/user_profile.jpg' %}" class="rounded float-start" alt="img" style="width: 60px; height: 60px">
                </div>
                <div class="d-flex">
                    <div class="mx-auto p-3">MySelf</div>
                    <div class=".d-block">
                        <div><a href="{% url 'settings' %}" class="link-success">Settings</a></div>
                        <div><a href="{% url 'login' %}" class="link-success">LogOut</a></div>
                    </div>
                </div>
          </div>
        </div>
      </nav>
      <main class="container mt-2">
        <div class="row">
          <section class="col vh-100">
            
            
            {% block content %}
            {% endblock %}
            
            
          </section>
          <aside class="col-3">

            <section class="mb-3">
                <h3>Popular tags</h3>
                <div>
                    <span class="badge rounded-pill text-bg-primary"><a class="link-offset-2 link-underline link-underline-opacity-0 link-light" href="{% url 'tag' 'Tag1' %}">Tag1</a></span>
                    <span class="badge rounded-pill text-bg-secondary"><a class="link-offset-2 link-underline link-underline-opacity-0 link-light" href="{% url 'tag' 'Tag2' %}">Tag2</a></span>
                    <span class="badge rounded-pill text-bg-success"><a class="link-offset-2 link-underline link-underline-opacity-0 link-light" href="{% url 'tag' 'Tag3' %}">Tag3</a></span>
                    <span class="badge rounded-pill text-bg-danger"><a class="link-offset-2 link-underline link-underline-opacity-0 link-light" href="{% url 'tag' 'Tag4' %}">Tag4</a></span>
                    <span class="badge rounded-pill text-bg-warning"><a class="link-offset-2 link-underline link-underline-opacity-0 link-dark" href="{% url 'tag' 'Tag5' %}">Tag5</a></span>
                    <span class="badge rounded-pill text-bg-info"><a class="link-offset-2 link-underline link-underline-opacity-0 link-dark" href="{% url 'tag' 'Tag6' %}">Tag6</a></span>
                    <span class="badge rounded-pill text-bg-light"><a class="link-offset-2 link-underline link-underline-opacity-0 link-dark" href="{% url 'tag' 'Tag7' %}">Tag7</a></span>
                    <span class="badge rounded-pill text-bg-dark"><a class="link-offset-2 link-underline link-underline-opacity-0 link-light" href="{% url 'tag' 'Tag8' %}">Tag8</a></span>
                </div>
            </section>

            <section>
                <h3>Best members</h3>
                <div>
                    <p><a class="d-block link-success link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover" href="#">Mr. Beaver</a></p>
                    <p><a class="d-block link-success link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover" href="#">Photonist</a></p>
                    <p><a class="d-block link-success link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover" href="#">Krasnoglazik</a></p>
                    <p><a class="d-block link-success link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover" href="#">Just Member</a></p>
                    <p><a class="d-block link-success link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover" href="#">AmNyam</a></p>
                    <p><a class="d-block link-success link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover" href="#">MySelf</a></p>
                </div>
            </section>

        </aside>
        </div>
      </main>

    <script src="{% static 'js/bootstrap.bundle.js' %}"></script>
</body>
</html>