{% extends "layouts/standart.html" %}
{% load static %}

{% block content %}
            <div class="d-flex align-items-center gap-2 mb-4">
                <h1>New Questions</h1>
                <a href="#" class="link-success">Hot Questions</a>
            </div>
          <articles class="d-flex gap-3 flex-column">
            <div class="card">
              <div class="card-body">
                <div class="row">
                  <div class="col-1">
                    <div style="height: 65px; max-width: 65px;" class="border mx-2 mb-2 w-100">
                      <img src="#" alt="img" class="img-fluid">
                    </div>    
                    <div class="btn-group-vertical">
                      <input type="radio" class="btn-check" name="vbtn-radio" id="vbtn-radio1" autocomplete="off" checked>
                      <label class="btn btn-outline-success" for="vbtn-radio1">Likes 0</label>
                      <input type="radio" class="btn-check" name="vbtn-radio" id="vbtn-radio3" autocomplete="off">
                      <label class="btn btn-outline-danger" for="vbtn-radio3">Dislikes 12</label>
                    </div>
                  </div>
                  <div class="col d-flex flex-column justify-content-between">
                    <div>
                      <h5 class="card-title px-2">How to use microwave oven? - question by <a class="link-success link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover" href="#">Krasnoglazik</a></h5>
                      <p class="card-text px-2">I really do not know what answer will be more suitable for the situation which you have described and 
                        even can not give you even a simple advice about this complex topic.
                      </p>
                    </div>
                            <div class="row">
                                <div class="col-9">
                                    <a href="#" class="link-success px-2">Answers (3)</a>
                                </div>
                                <div class="col">
                                    <span>Tags:</span>
                                    <span class="badge rounded-pill text-bg-success"><a class="link-offset-2 link-underline link-underline-opacity-0 link-light" href="#">Tag №3</a></span>
                                    <span class="badge rounded-pill text-bg-secondary"><a class="link-offset-2 link-underline link-underline-opacity-0 link-light" href="#">Tag №2</a></span>

                                </div>
                            </div>
                    </div>
                  </div>
                </div>
            </div>
            

            <div class="card">
              <div class="card-body">
                <div class="row">
                  <div class="col-1">
                    <div style="height: 65px; max-width: 65px;" class="border mx-2 mb-2 w-100">
                      <img src="#" alt="img" class="img-fluid">
                    </div>    
                    <div class="btn-group-vertical">
                      <input type="radio" class="btn-check" name="vbtn-radio" id="vbtn-radio12" autocomplete="off" checked>
                      <label class="btn btn-outline-success" for="vbtn-radio12">Likes 0</label>
                      <input type="radio" class="btn-check" name="vbtn-radio" id="vbtn-radio32" autocomplete="off">
                      <label class="btn btn-outline-danger" for="vbtn-radio32">Dislikes 12</label>
                    </div>
                  </div>
                  <div class="col d-flex flex-column justify-content-between">
                    <div>
                      <h5 class="card-title px-2">How to use microwave oven? - question by <a class="link-success link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover" href="#">AmNyam</a></h5>
                      <p class="card-text px-2">I really do not know what answer will be more suitable for the situation which you have described and 
                        even can not give you even a simple advice about this complex topic.
                      </p>
                    </div>
                            <div class="row">
                                <div class="col-9">
                                    <a href="#" class="link-success px-2">Answers (3)</a>
                                </div>
                                <div class="col">
                                    <span>Tags:</span>
                                    <span class="badge rounded-pill text-bg-success"><a class="link-offset-2 link-underline link-underline-opacity-0 link-light" href="#">Tag №3</a></span>
                                    <span class="badge rounded-pill text-bg-secondary"><a class="link-offset-2 link-underline link-underline-opacity-0 link-light" href="#">Tag №2</a></span>

                                </div>
                            </div>
                    </div>
                  </div>
                </div>
            </div>

            <div class="card">
              <div class="card-body">
                <div class="row">
                  <div class="col-1">
                    <div style="height: 65px; max-width: 65px;" class="border mx-2 mb-2 w-100">
                      <img src="#" alt="img" class="img-fluid">
                    </div>    
                    <div class="btn-group-vertical">
                      <input type="radio" class="btn-check" name="vbtn-radio" id="vbtn-radio11" autocomplete="off" checked>
                      <label class="btn btn-outline-success" for="vbtn-radio11">Likes 0</label>
                      <input type="radio" class="btn-check" name="vbtn-radio" id="vbtn-radio33" autocomplete="off">
                      <label class="btn btn-outline-danger" for="vbtn-radio33">Dislikes 12</label>
                    </div>
                  </div>
                  <div class="col d-flex flex-column justify-content-between">
                    <div>
                      <h5 class="card-title px-2">How to use microwave oven? - question by <a class="link-success link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover" href="#">Random guy</a></h5>
                      <p class="card-text px-2">I really do not know what answer will be more suitable for the situation which you have described and 
                        even can not give you even a simple advice about this complex topic.
                      </p>
                    </div>
                            <div class="row">
                                <div class="col-9">
                                    <a href="#" class="link-success px-2">Answers (3)</a>
                                </div>
                                <div class="col">
                                    <span>Tags:</span>
                                    <span class="badge rounded-pill text-bg-success"><a class="link-offset-2 link-underline link-underline-opacity-0 link-light" href="#">Tag №3</a></span>
                                    <span class="badge rounded-pill text-bg-secondary"><a class="link-offset-2 link-underline link-underline-opacity-0 link-light" href="#">Tag №2</a></span>

                                </div>
                            </div>
                    </div>
                  </div>
                </div>
            </div>
            <nav aria-label="Page navigation example">
              <ul class="pagination justify-content-center">
                <li class="page-item disabled">
                  <a class="page-link link-secondary">Previous</a>
                </li>
                <li class="page-item"><a class="page-link link-success" href="#">1</a></li>
                <li class="page-item"><a class="page-link link-success" href="#">2</a></li>
                <li class="page-item"><a class="page-link link-success" href="#">3</a></li>
                <li class="page-item">
                  <a class="page-link link-success" href="#">Next</a>
                </li>
              </ul>
            </nav>

          </articles>
{% endblock %}