{% extends user.is_authenticated|yesno:"layouts/standart.html,layouts/standart_unauthorized.html" %}

{% load static %}


{% block content %}
            <div class="d-flex align-items-center gap-2 mb-4">
                <h1>New Questions</h1>
                <a href="{% url 'hot' %}" class="link-success">Hot Questions</a>
            </div>
          
          <articles class="d-flex gap-3 flex-column">
            {% for question in questions %}
              <div class="card">
                <div class="card-body">
                  <div class="row">
                    <div class="col-1">
                      <div class="d-flex flex-column align-items-center">
                        <div class="border mb-2">
                          <img src="{% static '/img/asker_picture.png' %}" alt="img" class="img-fluid" style="height: 65px; width: 65px;">
                        </div>    
                        <div class="btn-group-vertical">
                          <input type="radio" class="btn-check" name="vbtn-radio" id="vbtn-radio{{question.id}}" autocomplete="off" checked>
                          <label class="btn btn-outline-success" for="vbtn-radio{{question.id}}">Likes {{question.likes_count}}</label>
                          <input type="radio" class="btn-check" name="vbtn-radio" id="vbtn-radio-{{question.id}}" autocomplete="off">
                          <label class="btn btn-outline-danger" for="vbtn-radio-{{question.id}}">Dislikes {{question.dislikes_count}}</label>
                        </div>
                      </div>
                    </div>
                    <div class="col d-flex flex-column justify-content-between">
                      <div>
                        <h5 class="card-title px-2"><a class="link-success link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover" href="{% url 'question' question.id %}">{{ question.title }} </a> - question by <a class="link-success link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover" href="#">{{ question.author }}</a></h5>
                        <p class="card-text px-2"> {{ question.content }}</p>
                      </div>
                              <div class="row">
                                  <div class="col-6">
                                      <a href="{% url 'question' question.id %}" class="link-success px-2">Answers ({{question.answers_count}})</a>
                                  </div>
                                  <div class="col">
                                      <span>Tags:</span>
                                      
                                      {% for tag in question.tags.all %}
                                        <span class="badge rounded-pill text-bg-success">
                                          <a class="link-offset-2 link-underline link-underline-opacity-0 link-light" href="{% url 'tag' tag.name %}">{{ tag.name }}</a>{% if not forloop.last %}, {% endif %}
                                        </span>
                                        {% empty %}
                                        No tags yet
                                      {% endfor %}
                                      
                                  </div>
                              </div>
                      </div>
                    </div>
                  </div>
              </div>
              {% endfor %}
          </articles>
          {% include "components/pagination.html" %}
          

          
{% endblock %}