{% extends user.is_authenticated|yesno:"layouts/standart.html,layouts/standart_unauthorized.html" %}
{% load static %}
{% load bootstrap5 %}

{% block content %} 
          
          <div class="d-flex align-items-center gap-2 mb-4">
            <h1>Log In</h1> 
          </div>
              
          <articles class="d-flex gap-3 flex-column">
            
            <div class="container">
                <div class="login-container">
                    <form action="" method="POST">
                        {% csrf_token %}
                        {% bootstrap_form form %}

                        {% bootstrap_button button_type="submit" button_class="btn btn-outline-success btn-block" content="Login" %}
                        
                        <div class="mt-2"><a class="d-block link-success link-offset-2 link-underline-opacity-100-hover" href="{% url 'signup' %}">Create an account</a></div>
                    </form>
                </div>
            </div>

          </articles>
          
{% endblock %}