{% extends "layouts/standart.html" %}
{% load static %}

{% block content %} 
            <div class="d-flex align-items-center gap-2 mb-4">
                <h1>Question by <a class="link-success link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover" href="#">{{ question.author.user.username }}</a></h1>
                
            </div>
            
            
            <div class="row mb-5">
                <div class="col-2 ">
                    <div style="height: 75px; max-width: 75px;" class="border mx-auto mb-2 w-100 ">
                        <img src="{% static '/img/asker_picture.png' %}" alt="img" class="img-fluid", style="height: 75px; width: 75px;">
                    </div>    
                    <div class="btn-group-vertical d-flex align-items-center">
                        <input type="radio" class="btn-check" name="vbtn-radio" id="vbtn-radio{{question.id}}" autocomplete="off" checked>
                        <label class="btn btn-outline-success" for="vbtn-radio{{question.id}}">Like | {{question.likes_count}}</label>
                        <input type="radio" class="btn-check" name="vbtn-radio" id="vbtn-radio-{{question.id}}" autocomplete="off">
                        <label class="btn btn-outline-danger" for="vbtn-radio-{{question.id}}">Dislike | {{question.dislikes_count}}</label>
                    </div>
                </div>
                <div class="col d-flex flex-column justify-content-between">
                    <div >
                        <h5 class="card-title px-2 mb-2">{{ question.title}}</h5>
                        <p class="card-text px-2">{{ question.content }}</p>
                    </div>
                    <div class="row">
                        <div class="col-7">
                            
                        </div>
                    <div class="col">
                        <span>Tags:</span>
                        {% for tag in question.tags.all %}
                            <a class="link-offset-2 link-underline link-underline-opacity-0 link-success" href="{% url 'tag' tag.name %}">{{ tag.name }}</a>{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </div>
                    </div>
                </div>
            </div>
            <div class="d-flex align-items-center">
                <h3>Answers:</h3>
            </div>
            
          <articles class="d-flex gap-3 flex-column">
            {% for answer in answers%}
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-1">
                            <div style="height: 60px; max-width: 60px;" class="border mx-2 mb-2 w-100">
                                <img src="{% static '/img/asker_picture.png' %}" alt="img" class="img-fluid", style="height: 60px; width: 60px;">                            
                            </div>    
                            <div class="btn-group-vertical">
                                <input type="radio" class="btn-check" name="vbtn-radio" id="vbtn-radio1{{ answer.id }}" autocomplete="off" checked>
                                <label class="btn btn-outline-success" for="vbtn-radio1{{ answer.id }}">Like {{answer.likes_count}}</label>
                                <input type="radio" class="btn-check" name="vbtn-radio" id="vbtn-radio3{{ answer.id }}" autocomplete="off">
                                <label class="btn btn-outline-danger" for="vbtn-radio3{{ answer.id }}">Dislike {{answer.dislikes_count}}</label>
                            </div>
                        </div>
                    
                        <div class="col-9 d-flex flex-column justify-content-between">
                            <div>
                                <h6 class="card-title px-2"><a class="d-block link-success link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover" href="#">{{ answer.author }}</a></h6>
                                <p class="card-text px-2">{{ answer.content }}</p>
                            </div>   
                        </div>
                    </div>  
                </div>
            </div>
            {% empty %}
                <p>No answers yet.</p>
            {% endfor %}
        
            {% include "components/pagination.html" %}
            <div class="container">
                <form>
                    <div class="form-group">
                        <textarea class="form-control" id="answerInput" rows="4" placeholder="Enter your answer..."></textarea>
                    </div>
                    <button type="submit" class="btn btn-outline-success my-2">Answer</button>
                </form>
            </div>

          </articles>
          

{% endblock %}