<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ask here</title>
    <link href="/static/css/bootstrap.css" rel="stylesheet" />
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary ">
        <div class="container">
          
          <div>
            
            <a class="navbar-brand mx-auto" href="#">Asker</a>
            <img src="/static/question.svg" class="img-fluid mb-3" alt="Icon">
          </div>
          <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder=" &#128270 Ask Question" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Ask!!!</button>
          </form>

          
          <div class="d-flex">
                <div style="height: 50;" class="border my-1 w-100">
                    <img src="1static/user_profile.jpg" class="rounded float-start" alt="img">
                </div>
                <div class="d-flex">
                    <div class="mx-auto p-3">MySelf</div>
                    <div class=".d-block">
                        <div><a href="#" class="link-success">Settings</a></div>
                        <div><a href="#" class="link-success">LogOut</a></div>
                    </div>
                </div>
          </div>
        </div>
      </nav>
      <main class="container mt-2">
        <div class="row">
          <section class="col vh-100">
            <div class="d-flex align-items-center gap-2 mb-4">
                <h1>Question by <a class="link-success link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover" href="#">Krasnoglazik</a></h1>
                
            </div>
            
                
            <div class="row mb-5">
                <div class="col-2 ">
                    <div style="height: 75px; max-width: 75px;" class="border mx-auto mb-2 w-100 ">
                        <img src="#" alt="img" class="img-fluid">
                    </div>    
                    <div class="btn-group-vertical d-flex align-items-center">
                        <input type="radio" class="btn-check" name="vbtn-radio" id="vbtn-radio1" autocomplete="off" checked>
                        <label class="btn btn-outline-success" for="vbtn-radio1">Like | 1</label>
                        <input type="radio" class="btn-check" name="vbtn-radio" id="vbtn-radio3" autocomplete="off">
                        <label class="btn btn-outline-danger" for="vbtn-radio3">Dislike | 12</label>
                    </div>
                </div>
                <div class="col d-flex flex-column justify-content-between">
                    <div >
                        <h5 class="card-title px-2 mb-2">How to use microwave oven?</h5>
                        <p class="card-text px-2">Being 32 years old I faced one of the most difficult problems in my life - I discovered that I do not have the slightest idea how to use microwave oven.
                            Can sombody explain how this thing works pleeeeeease :(((( I have no clue....
                        </p>
                    </div>
                    <div class="row">
                        <div class="col-9">
                            <a href="#" class="link-success px-2">Answers (3)</a>
                        </div>
                    <div class="col">
                        <span>Tags:</span>
                        <span class="badge rounded-pill text-bg-success"><a class="link-offset-2 link-underline link-underline-opacity-0 link-light" href="#">Tag №3</a></span>
                        <span class="badge rounded-pill text-bg-secondary"><a class="link-offset-2 link-underline link-underline-opacity-0 link-light" href="#">Tag №2</a></span>
                    </div>
                    </div>
                </div>
            </div>
            <div class="d-flex align-items-center">
                <h3>Answers:</h3>
            </div>
          <articles class="d-flex gap-3 flex-column">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-1">
                            <div style="height: 60px; max-width: 60px;" class="border mx-2 mb-2 w-100">
                            <img src="#" alt="img" class="img-fluid">
                            </div>    
                            <div class="btn-group-vertical">
                            <input type="radio" class="btn-check" name="vbtn-radio" id="vbtn-radio11" autocomplete="off" checked>
                            <label class="btn btn-outline-success" for="vbtn-radio11">Like 12</label>
                            <input type="radio" class="btn-check" name="vbtn-radio" id="vbtn-radio31" autocomplete="off">
                            <label class="btn btn-outline-danger" for="vbtn-radio31">Dislike 0</label>
                            </div>
                        </div>
                    
                        <div class="col d-flex flex-column justify-content-between">
                            <div>
                                <h6 class="card-title px-2"><a class="d-block link-success link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover" href="#">Mr. Beaver</a></h6>
                                <p class="card-text px-2">I really do not know what answer will be more suitable for the situation which you have described and 
                                    even can not give you even a simple advice about this complex topic.
                                </p>
                            </div>   
                            
                           
                        </div>

                        
                    </div>
                    
                </div>
            </div>
            

            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-1">
                            <div style="height: 60px; max-width: 60px;" class="border mx-2 mb-2 w-100">
                            <img src="#" alt="img" class="img-fluid">
                            </div>    
                            <div class="btn-group-vertical">
                            <input type="radio" class="btn-check" name="vbtn-radio" id="vbtn-radio12" autocomplete="off" checked>
                            <label class="btn btn-outline-success" for="vbtn-radio12">Like 12</label>
                            <input type="radio" class="btn-check" name="vbtn-radio" id="vbtn-radio32" autocomplete="off">
                            <label class="btn btn-outline-danger" for="vbtn-radio32">Dislike 0</label>
                            </div>
                        </div>
                    
                        <div class="col d-flex flex-column justify-content-between">
                            <div>
                                <h6 class="card-title px-2"><a class="d-block link-success link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover" href="#">Photonist</a></h6>
                                <p class="card-text px-2">I really do not know what answer will be more suitable for the situation which you have described and 
                                    even can not give you even a simple advice about this complex topic.
                                </p>
                            </div>   
                            
                           
                        </div>

                        
                    </div>
                    
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-1">
                            <div style="height: 60px; max-width: 60px;" class="border mx-2 mb-2 w-100">
                            <img src="#" alt="img" class="img-fluid">
                            </div>    
                            <div class="btn-group-vertical">
                            <input type="radio" class="btn-check" name="vbtn-radio" id="vbtn-radio13" autocomplete="off" checked>
                            <label class="btn btn-outline-success" for="vbtn-radio13">Like 12</label>
                            <input type="radio" class="btn-check" name="vbtn-radio" id="vbtn-radio33" autocomplete="off">
                            <label class="btn btn-outline-danger" for="vbtn-radio33">Dislike 0</label>
                            </div>
                        </div>
                    
                        <div class="col d-flex flex-column justify-content-between">
                            <div>
                                <h6 class="card-title px-2"><a class="d-block link-success link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover" href="#">MySelf</a></h6>
                                <p class="card-text px-2">I really do not know what answer will be more suitable for the situation which you have described and 
                                    even can not give you even a simple advice about this complex topic.
                                </p>
                            </div>   
                            
                           
                        </div>

                        
                    </div>
                    
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-1">
                            <div style="height: 60px; max-width: 60px;" class="border mx-2 mb-2 w-100">
                            <img src="#" alt="img" class="img-fluid">
                            </div>    
                            <div class="btn-group-vertical">
                            <input type="radio" class="btn-check" name="vbtn-radio" id="vbtn-radio14" autocomplete="off" checked>
                            <label class="btn btn-outline-success" for="vbtn-radio14">Like 12</label>
                            <input type="radio" class="btn-check" name="vbtn-radio" id="vbtn-radio34" autocomplete="off">
                            <label class="btn btn-outline-danger" for="vbtn-radio34">Dislike 0</label>
                            </div>
                        </div>
                    
                        <div class="col d-flex flex-column justify-content-between">
                            <div>
                                <h6 class="card-title px-2"><a class="d-block link-success link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover" href="#">Just Member</a></h6>
                                <p class="card-text px-2">I really do not know what answer will be more suitable for the situation which you have described and 
                                    even can not give you even a simple advice about this complex topic.
                                </p>
                            </div>   
                            
                           
                        </div>

                        
                    </div>
                    
                </div>
            </div>
            

            <nav aria-label="Page navigation example">
              <ul class="pagination justify-content-center">
                <li class="page-item disabled">
                  <a class="page-link link-secondary">Previous</a>
                </li>
                <li class="page-item"><a class="page-link link-success" href="#">1</a></li>
                <li class="page-item"><a class="page-link link-success" href="#">2</a></li>
                <li class="page-item"><a class="page-link link-success" href="#">3</a></li>
                <li class="page-item">
                  <a class="page-link link-success" href="#">Next</a>
                </li>
              </ul>
            </nav>
            
            <div class="container">
                <form>
                    <div class="form-group">
                        <textarea class="form-control" id="answerInput" rows="4" placeholder="Enter your answer..."></textarea>
                    </div>
                    <button type="submit" class="btn btn-outline-success my-2">Answer</button>
                </form>
            </div>

          </articles>
          </section>
          <aside class="col-3">

            <section class="mb-3">
                <h3>Popular tags</h3>
                <div>
                    <span class="badge rounded-pill text-bg-primary"><a class="link-offset-2 link-underline link-underline-opacity-0 link-light" href="#">Tag №1</a></span>
                    <span class="badge rounded-pill text-bg-secondary"><a class="link-offset-2 link-underline link-underline-opacity-0 link-light" href="#">Tag №2</a></span>
                    <span class="badge rounded-pill text-bg-success"><a class="link-offset-2 link-underline link-underline-opacity-0 link-light" href="#">Tag №3</a></span>
                    <span class="badge rounded-pill text-bg-danger"><a class="link-offset-2 link-underline link-underline-opacity-0 link-light" href="#">Tag №4</a></span>
                    <span class="badge rounded-pill text-bg-warning"><a class="link-offset-2 link-underline link-underline-opacity-0 link-dark" href="#">Tag №5</a></span>
                    <span class="badge rounded-pill text-bg-info"><a class="link-offset-2 link-underline link-underline-opacity-0 link-dark" href="#">Tag №6</a></span>
                    <span class="badge rounded-pill text-bg-light"><a class="link-offset-2 link-underline link-underline-opacity-0 link-dark" href="#">Tag №7</a></span>
                    <span class="badge rounded-pill text-bg-dark"><a class="link-offset-2 link-underline link-underline-opacity-0 link-light" href="#">Tag №8</a></span>
                </div>
            </section>

            <section>
                <h3>Best members</h3>
                <div>
                    <p><a class="d-block link-success link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover" href="#">Mr. Beaver</a></p>
                    <p><a class="d-block link-success link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover" href="#">Photonist</a></p>
                    <p><a class="d-block link-success link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover" href="#">Krasnoglazik</a></p>
                    <p><a class="d-block link-success link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover" href="#">Just Member</a></p>
                    <p><a class="d-block link-success link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover" href="#">AmNyam</a></p>
                    <p><a class="d-block link-success link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover" href="#">MySelf</a></p>
                </div>
            </section>

        </aside>
        </div>
      </main>

    <script src="/static/js/bootstrap.bundle.js" ></script>
</body>
</html>