{% extends "layouts/standart_unauthorized.html" %}
{% load static %}
{% load bootstrap5 %}

{% block content %} 
            <div class="d-flex align-items-center gap-2 mb-4">
                <h1>Registration</h1> 
            </div>
            
                
            
            
          <articles class="d-flex gap-3 flex-column">
            
            

            
            <div class="container">
                <div class="registration-container">
                    <form action="" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% bootstrap_form form %}

                        {% bootstrap_button button_type="submit" button_class="btn btn-outline-success btn-block" content="Registration" %}                        
                    </form>
                </div>
            </div>

          </articles>

{% endblock %}